@model IEnumerable<BaseModels.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Cliente.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Mesa.MesaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Restaurante.NameOnwer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtdpessoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Cliente.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Mesa.MesaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Restaurante.NameOnwer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtdpessoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservaID })
        </td>
    </tr>
}

</table>
